.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 30px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper-menu {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.icon-burger {
  font-size: 40px;
  top: 60px;
  color: var(--h2-color);
}

.icon-nav {
  font-size: 25px;
  color: var(--h2-color);
}

.logo {
  width: 200px;
  height: auto;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background: var(--fifth-color);
  cursor: pointer;
}

button img {
  border-radius: 50%;
  height: 35px;
}
