@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

:root {
  /* Colors */
  --h1-color: #fff;
  --h2-color: #333333;
  --text-color: #2e375b;
  --primary-color: #3905C8;
  --secondary-color: #43ddc3;
  --tertiary-color: #6c33f1;
  --quaternary-color: #f6f7f8;
  --fifth-color: #9ec6be;

  /* Fonts */
  --h1-font-family: "Poppins", sans-serif;
  --h1-font-size: 22px;
  --h1-line-height: 40px;
  --text-transform: uppercase;

  --h2-font-family: "Poppins", sans-serif;
  --h2-font-size: 28px;
  --h2-line-height: 35px;

  --h3-font-family: "Poppins", sans-serif;
  --h3-font-size: 20px;
  --h3-line-height: 22px;

  --h4-font-family: "Poppins", sans-serif;
  --h4-font-size: 18px;
  --h4-line-height: 25px;

  --p-font-family: "Nunito", sans-serif;
  --p-font-size: 16px;
  --p-line-height: 22px;

  --a-font-family: "Nunito", sans-serif;
  --a-font-size: 16px;
  --a-line-height: 22px;

  --nav-font-family: "Josefin Sans", sans-serif;
  --nav-font-size: 18px;
  --nav-line-height: 50px;
}

h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--text-color);
  text-transform: var(--text-transform);;
}

h2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--text-color);
}

h3 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  color: var(--text-color);
}

h4 {
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 7px;
}

p {
  font-family: var(--p-font-family);
  font-size: var(--p-font-weight);
  line-height: var(--p-line-height);
  color: var(--text-color);
}

a {
  font-family: var(--a-font-family);
  font-size: var(--a-font-weight);
  line-height: var(--a-line-height);
  color: var(--text-color);
  text-decoration: none;
}